<mat-card class="card-container" [ngClass]="getStatusClass(course.status)">
  <mat-card-header>
    <mat-card-title>{{ course.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 30px">
    <p>{{ course.description }}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button mat-raised-button color="primary" (click)="openCourse(course)">
      Go to Course
    </button>
    <button mat-raised-button color="warn">Share Feedback</button>
  </mat-card-actions>
</mat-card>
