mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
}

.card-container{
  cursor: pointer;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.status-border-success{
  border: 4px solid #7F46A3;
  border-radius: 4px;
}

.status-border-processing{
  border: 4px solid orange;
  border-radius: 4px;
}



.buttons{
  display: flex;
  justify-content: space-between;
}